/*** Common ***/
h1.pageHeader {
	text-align: center;
	margin: 10px 0;
}

/*** Nav ***/
@media (min-width: 768px) {
 .navbar-expand-md .navbar-nav.main {
    width: 100%;
    justify-content: center;
  }
}