/*** Common ***/
h1.pageHeader {
	text-align: center;
	margin: 10px 0;
}
h2.tableTitle {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.4rem;
}
tr.added td {
	background: #38c172 !important;
}
#selectContainer {
	margin-bottom: 20px;
}

/*** Nav ***/
.navbar {
	background-color: #4C6696 !important;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    background: #fff;
}
@media (min-width: 768px) {
 .navbar-expand-md .navbar-nav.main {
    width: 100%;
    justify-content: center;
  }
}

/*** Tabbed Nav ***/
.nav-tabs {
	margin-bottom: 20px;
}

/*** Home Page ***/
form#memberSearch {
	text-align: right;
}
form#memberSearch .select2 {
	text-align: left;
}

/*** Charge Membership Pages ***/
#chargeMembership_wrapper {
	margin-bottom: 30px;
}
#chargeMembership_wrapper .popover-body {
	padding: 0;
}
#chargeMembership_wrapper .popover-body div.alert {
	margin: 0;
	font-size: 16px;
	text-align: center;
}

/*** Committee Membership Pages ***/
#memberAdmin button {
	padding: 3px 5px;
	width: 60px;
	margin-bottom: 5px;	
}

/*** List Management Pages ***/
form#rankForm,
form#chargeForm {
	margin-top: 20px;
}
form#rankForm button,
form#chargeForm button {
	margin-right: 20px;
}

/*** datatables override ***/
table.dataTable thead .sorting {
	background-image: url("/images/sort_both.png")
}
table.dataTable thead .sorting_asc {
	background-image: url("/images/sort_asc.png")
}
table.dataTable thead .sorting_desc {
	background-image: url("/images/sort_desc.png")
}